@view-transition {
  navigation: auto;
}

@font-face {
    font-family: 'Russo One';
    src: url('../../assets/fonts/RussoOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #0e0e0e; 
    background-image: 
        linear-gradient(to right, rgba(14,14,14,0) 50%, #0e0e0e 100%),
        url("../../assets/images/BMW M8 GTE '19 (2).jpg");
    background-size: 85% auto; 
    background-position: left 35%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bmw-logo {
    position: absolute;
    top: 25px;
    right: 5%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    width: fit-content;
    background: transparent;
}

.bmw-logo img {
    width: 350px;
    height: auto;
    object-fit: contain;
}

.bmw-m8-title {
    color: white;
    font-family: 'Russo One';
    font-size: 37px;
    text-decoration: underline;
    letter-spacing: 2px;
    position: absolute;
    top: 170px;
    right: 7.5%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    width: fit-content;
}

.bmw-m8-profile {
    color: white;
    font-family: 'Oswald';
    font-size: 19px;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    bottom: 90px;
    right: 4%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    width: 25%;
}

.bmw-m8-text-spec {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    color: white;
    font-family: 'Oswald';
    font-size: 23px;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: 10%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none;
}

.bmw-m8-text-spec:hover {
    transform: scale(1.1);
}

.arrow-back-container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 0;
    padding-left: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 1%;
    z-index: 100;
    overflow: hidden;
    transition: width 0.4s ease;
    text-decoration: none;
    cursor: pointer;
}

.arrow-back-container span {
    opacity: 0;
    max-width: 0;
    white-space: nowrap;
    margin-left: 0;
    color: #3c5d9a;
    font-weight: 500;
    font-family: 'Oswald';
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.arrow-back-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
    width: 180px;
}

.arrow-back-container:hover span {
    max-width: 180px;
    opacity: 1;
    margin-left: 10px;
}

.arrow-back-container img {
    border: 3px solid rgb(253, 110, 44);
    border-radius: 50%;
    background-color: rgb(188, 188, 188);
    padding: 4px;
    margin: 0;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    display: block;
}