@view-transition {
  navigation: auto;
}

@font-face {
    font-family: 'Russo One';
    src: url('../assets/fonts/RussoOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.9) 15%, rgba(0,0,0,0) 80%), 
                      url("../assets/images/Koenigsegg\ One\ \(2\).jpeg");
    background-size: 100% auto;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-color: #eef1f4;
    background-attachment: fixed;
    height: 100vh;
}

body img {
    width: 110px;
    height: 110px;
    margin-left: 20px;
}

.koegnisegg-one-tagline-container {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.koegnisegg-one-tagline {
    color: black;
    font-family: 'Russo One';
    font-size: 30px;
}

.koegnisegg-one-container-screen {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
}

.koegnisegg-one-button-screen {
    border: 3px solid white;
    border-radius: 8px;
    background: transparent;
    font-family: 'Russo One';
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    padding: 10px 20px;
    width: fit-content;
    text-decoration: none;
    text-align: center;
}

.discover-koegnisegg-one {
    position: absolute;
    bottom: 60px;
    left: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: ease, transform 0.3s;
}

.discover-koegnisegg-one:hover {
  transform: scale(1.1);
}

.discover-koegnisegg-text {
    font-weight: 400;
    font-size: 25px;
    font-family: 'Oswald';
    color: white;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1;
}

.arrow-back-container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 0;
    padding-left: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 1%;
    z-index: 100;
    overflow: hidden;
    transition: width 0.4s ease;
    text-decoration: none;
    cursor: pointer;
}

.arrow-back-container span {
    opacity: 0;
    max-width: 0;
    white-space: nowrap;
    margin-left: 0;
    color: black;
    font-family: 'Oswald';
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.arrow-back-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
    width: 125px;
}

.arrow-back-container:hover span {
    max-width: 125px;
    opacity: 1;
    margin-left: 10px;
}

.arrow-back-container img {
    border: 3px solid rgb(253, 110, 44);
    border-radius: 50%;
    background-color: rgb(188, 188, 188);
    padding: 4px;
    margin: 0;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    display: block;
}