@view-transition {
  navigation: auto;
}

@font-face {
    font-family: 'Russo One';
    src: url('../assets/fonts/RussoOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #0e0e0e; 
    background-image: 
        linear-gradient(to right, rgba(14,14,14,0) 50%, #0e0e0e 100%),
        url("../assets/images/Koenigsegg\ One\ \(16\).jpg");
    background-size: 75%; 
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.content-wrapper {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.koegnisegg-logo img {
    width: 200px;
    height: auto;
    object-fit: contain;
}

.koegnisegg-one-title {
    color: white;
    font-family: 'Russo One';
    font-size: 30px;
    text-decoration: underline;
    letter-spacing: 2px;
    margin: 0;
}

.koegnisegg-one-profile {
    color: white;
    font-family: 'Oswald';
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0;
}

.koegnisegg-one-text-spec {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    color: white;
    font-family: 'Oswald';
    font-size: 23px;
    letter-spacing: 2px;
    padding: 10px 30px;
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none;
    margin-top: 10px;
}

.koegnisegg-one-text-spec:hover {
    transform: scale(1.1);
}

.arrow-back-container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 0;
    padding-left: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 1%;
    z-index: 100;
    overflow: hidden;
    transition: width 0.4s ease;
    text-decoration: none;
    cursor: pointer;
}

.arrow-back-container span {
    opacity: 0;
    max-width: 0;
    white-space: nowrap;
    margin-left: 0;
    color: #181818;
    font-weight: 500;
    font-family: 'Oswald';
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.arrow-back-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
    width: 220px;
}

.arrow-back-container:hover span {
    max-width: 220px;
    opacity: 1;
    margin-left: 10px;
}

.arrow-back-container img {
    border: 3px solid rgb(253, 110, 44);
    border-radius: 50%;
    background-color: rgb(188, 188, 188);
    padding: 4px;
    margin: 0;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    display: block;
}