@view-transition {
  navigation: auto;
}

@font-face {
    font-family: 'Russo One';
    src: url('../assets/fonts/RussoOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 70%), 
                      url("../assets/images/Koenigsegg\ One\ \(12\).jpg");
    background-size: 100% auto;
    background-position: center 134%;
    background-repeat: no-repeat;
    background-color: #eef1f4;
    background-attachment: fixed;
    height: 100vh;
}

.koegnisegg-one-full-spec {
    position: absolute;
    bottom: 7%;
    right: 17%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    width: fit-content;
    background: transparent;
}

.koegnisegg-one-full-spec img {
    width: 300px;
    height: auto;
    filter: drop-shadow(1px 1px 1px white);
}

.koegnisegg-one-full-spec-text {
    color: white;
    font-family: 'Russo One';
    font-size: 35px;
    font-weight: lighter;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 3px;
    padding: 10px;
    width: fit-content;
}

.koegnisegg-one-detail-full-spec {
    color: white;
    font-family: 'Oswald';
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    bottom: 3%;
    width: fit-content;
}

.koegnisegg-one-fun-facts {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    color: white;
    font-family: 'Oswald';
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    position: absolute;
    bottom: 7%;
    right: 3%;
    letter-spacing: 3px;
    padding: 10px;
    width: fit-content;
    transition: transform 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.koegnisegg-one-fun-facts:hover {
    transform: scale(1.1);
}

.arrow-back-container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 0;
    padding-left: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 1%;
    z-index: 100;
    overflow: hidden;
    transition: width 0.4s ease;
    text-decoration: none;
    cursor: pointer;
}

.arrow-back-container span {
    opacity: 0;
    max-width: 0;
    white-space: nowrap;
    margin-left: 0;
    color: #181818;
    font-weight: 500;
    font-family: 'Oswald';
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.arrow-back-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
    width: 180px;
}

.arrow-back-container:hover span {
    max-width: 180px;
    opacity: 1;
    margin-left: 10px;
}

.arrow-back-container img {
    border: 3px solid rgb(253, 110, 44);
    border-radius: 50%;
    background-color: rgb(188, 188, 188);
    padding: 4px;
    margin: 0;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    display: block;
}